body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
ul li a {
  text-decoration: none;
}
#container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

#menu {
  width: 350px;
  height: 650px;
  padding: 20px;
  background-image: linear-gradient(45deg, #26ffe6, #00e676);
  text-align: center;
}

#menu img {
  border-radius: 55%;
  margin: auto;
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
}

.name {
  padding: 10px 0;
}

.list-links {
  list-style: none;
}
#menu li {
  margin-bottom: 10px;
  padding: 2px 0;
}
#menu a {
  color: blue;
  font-size: 20px;
}

#content {
  flex: 1;
  flex-grow: 1;
  padding: 80px;
  background-image: linear-gradient(45deg, #26ffe6, #00e676);
}

#content h1,
h3 {
  text-align: center;
}

#content .table-task {
  display: flex;
}
#content .list-task {
  border: 1px solid #26ffe6;
  flex-basis: 50%;
  box-shadow: 5px 5px 10px gray;
  background-color: #95f2d9;
  margin: 3px;
  padding: 10px;
}
.list-task ul {
  padding-left: 20px;
}
.list-task li {
  margin-bottom: 5px;
}
.fa-solid {
  color: black;
  cursor: pointer;
  padding-left: 10px;
}
.add-task {
  margin-top: 10px;
}
.add-task input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-top: 10px;
}
.add-task button {
  padding: 5px 10px;
}

button {
  background-color: #26ffe6;
  border: 2px solid #26ffe6;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  padding: 2px 8px;
  font-size: 15px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
button:hover {
  background-color: #00e676;
  border-color: #00e676;
}
#new-task {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: sans-serif;
  color: #333;
}
